 .container {
     display: grid;
     grid-template-columns: 100px 100px 100px;
     /* 3 columns */
     gap: 10px;
 }

 .item {
     background: lightblue;
     padding: 20px;
     text-align: center;
     border: 1px solid black;
 }